Final_Project/SOA_TRUCK/XML_XSD_DTD/comments.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Oct 07 2017 12:36:30 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="comments">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Comment" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="CommentID" type="xs:string"></xs:element>
                                             <xs:element name="CommentTime" type="xs:string"></xs:element>
                                             <xs:element name="CommentName" type="xs:string"></xs:element>
                                             <xs:element name="CustomerID" type="xs:string"></xs:element>
                                             <xs:element name="TransactionID" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>