Final_Project/SOA_TRUCK/XML_XSD_DTD/customers.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Oct 07 2017 12:36:45 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="customers">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Customer" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="CustomerID" type="xs:string"></xs:element>
                                             <xs:element name="CustomerTitle" type="xs:string"></xs:element>
                                             <xs:element name="BusinessName" type="xs:string"></xs:element>
                                             <xs:element name="LocationID" type="xs:string"></xs:element>
                                             <xs:element name="BillingAddress" type="xs:string"></xs:element>
                                             <xs:element name="City" type="xs:string"></xs:element>
                                             <xs:element name="State" type="xs:string"></xs:element>
                                             <xs:element name="PostalCode" type="xs:int"></xs:element>
                                             <xs:element name="Country" type="xs:string"></xs:element>
                                             <xs:element name="PhoneNumber" type="xs:int"></xs:element>
                                             <xs:element name="CellNumber" type="xs:int"></xs:element>
                                             <xs:element name="OtherNumber" type="xs:int"></xs:element>
                                             <xs:element name="FaxNumber" type="xs:int"></xs:element>
                                             <xs:element name="EmailAddress" type="xs:string"></xs:element>
                                             <xs:element name="CompanyName" type="xs:string"></xs:element>
                                             <xs:element name="ContactName" type="xs:string"></xs:element>
                                             <xs:element name="AlternateContactName" type="xs:string"></xs:element>
                                             <xs:element name="DateEntered" type="xs:date"></xs:element>
                                             <xs:element name="CustomerType" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>