Final_Project/SOA_TRUCK/XML_XSD_DTD/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Oct 07 2017 12:39:01 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="employees">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Employee" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="EmployeeID" type="xs:string"></xs:element>
                                             <xs:element name="FirstName" type="xs:string"></xs:element>
                                             <xs:element name="LastName" type="xs:string"></xs:element>
                                             <xs:element name="Email" type="xs:string"></xs:element>
                                             <xs:element name="Extension" type="xs:int"></xs:element>
                                             <xs:element name="HomePhone" type="xs:int"></xs:element>
                                             <xs:element name="CellPhone" type="xs:int"></xs:element>
                                             <xs:element name="JobTitle" type="xs:string"></xs:element>
                                             <xs:element name="SocialSecurityNumber" type="xs:int"></xs:element>
                                             <xs:element name="DriverLicenseNumber" type="xs:int"></xs:element>
                                             <xs:element name="Address" type="xs:string"></xs:element>
                                             <xs:element name="City" type="xs:string"></xs:element>
                                             <xs:element name="State" type="xs:string"></xs:element>
                                             <xs:element name="PostalCode" type="xs:int"></xs:element>
                                             <xs:element name="BirthDate" type="xs:string"></xs:element>
                                             <xs:element name="DateHired" type="xs:string"></xs:element>
                                             <xs:element name="Salary" type="xs:int"></xs:element>
                                             <xs:element name="Notes" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
