Final_Project/SOA_TRUCK/XML_XSD_DTD/orders.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Oct 07 2017 12:39:45 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="orders">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Order" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="OrderID" type="xs:string"></xs:element>
                                             <xs:element name="OrderDate" type="xs:date"></xs:element>
                                             <xs:element name="CustomerID" type="xs:string"></xs:element>
                                             <xs:element name="EmployeeID" type="xs:string"></xs:element>
                                             <xs:element name="TruckID" type="xs:string"></xs:element>
                                             <xs:element name="isSpecial" type="xs:string"></xs:element>
                                             <xs:element name="PurchaseOrderNumber" type="xs:string"></xs:element>
                                             <xs:element name="OrderTotalAmount" type="xs:int"></xs:element>
                                             <xs:element name="TransactionID" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>