Final_Project/SOA_TRUCK/XML_XSD_DTD/payments.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Oct 07 2017 12:39:56 GMT-0500 (Central Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="payments">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Payment" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="PaymentID" type="xs:string"></xs:element>
                                             <xs:element name="TransactionID" type="xs:string"></xs:element>
                                             <xs:element name="OrderID" type="xs:string"></xs:element>
                                             <xs:element name="PaymentMethod" type="xs:string"></xs:element>
                                             <xs:element name="PaymentAmount" type="xs:int"></xs:element>
                                             <xs:element name="PaymentDate" type="xs:date"></xs:element>
                                             <xs:element name="CheckNumber" type="xs:int"></xs:element>
                                             <xs:element name="CreditCard" type="xs:string"></xs:element>
                                             <xs:element name="CreditCardNumber" type="xs:string"></xs:element>
                                             <xs:element name="CardholdersName" type="xs:string"></xs:element>
                                             <xs:element name="CreditCardExpDate" type="xs:string"></xs:element>
                                             <xs:element name="CreditCardAuthorizationNumber" type="xs:int"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>
